.gallery {
  padding: 1rem;
  height: 60vw;
  background-color: $color-grey-light-1;
  @include gridLayout(8, 1fr, 1rem);
  grid-template-rows: repeat(7, 1fr);
  grid-template-areas:
    'one one two two two three four four'
    'one one two two two three four four'
    'five five two two two eight eight nine'
    'five five six six seven eight eight nine'
    'five five six six thirteen thirteen thirteen nine'
    'ten eleven eleven twelve thirteen thirteen thirteen fourteen'
    'ten eleven eleven twelve thirteen thirteen thirteen fourteen';

  @include respond(36em) {
    height: 41.5vw;
  }

  @include respond(48em) {
    padding: 1.5rem;
    gap: 1.5rem;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__item--1 {
    grid-area: one;
  }

  &__item--2 {
    grid-area: two;
  }

  &__item--3 {
    grid-area: three;
  }

  &__item--4 {
    grid-area: four;
  }

  &__item--5 {
    grid-area: five;
  }

  &__item--6 {
    grid-area: six;
  }

  &__item--7 {
    grid-area: seven;
  }

  &__item--8 {
    grid-area: eight;
  }

  &__item--9 {
    grid-area: nine;
  }

  &__item--10 {
    grid-area: ten;
  }

  &__item--11 {
    grid-area: eleven;
  }

  &__item--12 {
    grid-area: twelve;
  }

  &__item--13 {
    grid-area: thirteen;
  }

  &__item--14 {
    grid-area: fourteen;
  }
}
